.home-container {
    min-height: 100vh;
    width: 80vw;
    .content-container {
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        .content {
            padding-top: 15rem;
            display: flex;
            flex-direction: row;
            align-items: center;
            .content-left {
                flex: 1;
                .title {
                    font-size: 4.44rem;
                    font-weight: bold;
                    color: #ffe606;
                }
                .subtitle {
                    font-weight: bold;
                    font-size: 2.19rem;
                    margin-top: 2.19rem;
                }
                .socials-container {
                    .social-link {
                        display: inline-block;
                        height: 52px;
                        margin-top: 1.4rem;
                        margin-bottom: 1.4rem;
                        margin-left: 2rem;
                        img {
                            height: 100%;
                            transition: 0.1s;
                            &:hover {
                                transform: scale(1.1);
                            }
                        }
                        &:first-child {
                            margin-left: 0.4rem;
                        }
                    }
                }
            }
            .content-right {
                width: 34%;
                img {
                    margin: auto;
                    display: block;
                    width: 92%;
                }
            }
        }
        .scroll-down-container {
            flex: 1;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            p {
                color: #ffe606;
                font-size: 1.63rem;
            }
            img {
                margin-left: 0.8rem;
            }
        }
    }
}

@media screen and (max-width: 1000px) {
    .home-container {
        .content-container {
            .content {
                padding-top: 8rem;
                flex-direction: column-reverse;
                .content-left {
                    max-width: 100%;
                    text-align: center;
                    .title {
                        padding-top: 1rem;
                        font-size: 1.88rem;
                        margin-top: 1rem;
                    }
                    .subtitle {
                        font-size: 1.38rem;
                        margin-top: 0.5rem;
                    }
                    .socials-container {
                        .social-link {
                            height: 40px;
                            margin-top: 1.2rem;
                            margin-bottom: 1.2rem;
                            margin-left: 2rem;
                            &:first-child {
                                margin-left: 0rem;
                            }
                        }
                    }
                }
                .content-right {
                    width: 100%;
                    img {
                        width: 65%;
                    }
                }
            }
            .scroll-down-container {
                p {
                    font-size: 1rem;
                }
                img {
                    margin-left: 0.5rem;
                    height: 1rem;
                }
            }
        }
    }
}
